{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">
						<h2>SUMMER CAMP PROGRAMS</h2>
						<div class="first">
							<ul>
								<li class="selected">
									<a href="/encrypt_util/md2">MD2 Hash</a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/md4">MD4 Hash</a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/md5">MD5 Hash</a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/sha_1">SHA-1 </a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/sha_256">SHA-256 </a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/des">DES</a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/arc4">ARC-4</a>
								</li>
                                 <li class="selected">
									<a href="/encrypt_util/des">DES-3</a>
								</li>
                                 <li class="selected">
									<a href="/encrypt_util/rsa_encryption">RSA Encryption</a>
								</li>
                                <li class="selected">
									<a href="/encrypt_util/rsa_decryption">RSA Decryption</a>
								</li>



							</ul>
						</div>
						<div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

