{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/conversion/hex_conv">Hex Conversion</a>
								</li>
                                <li class="selected">
									<a href="/conversion/ip_conv">IP Conversion</a>
								</li>
                                <li class="selected">
									<a href="/conversion/date_time_conv">Date Time Conversion</a>
								</li>
							</ul>
						</div>
                        <form action="/conversion/date_time_conv" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ date_time_forms.as_table}}

                             </table>
                            <input type="submit" value="Submit" id="submit">
                        </form>
                        {% if epoch_params != '' %}
                            <textarea rows="1" cols="80" maxlength="100">
                            {{ epoch_params }}
                            </textarea>
                        {% endif %}
                        <form action="/conversion/date_time_conv" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ epoch_forms.as_table}}

                             </table>
                            <input type="submit" value="Submit" id="submit">
                         </form>
                        {% if date_time_params != '' %}
                            <textarea rows="1" cols="80" maxlength="100">
                            {{ date_time_params }}
                            </textarea>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

