{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">
						<h2>SUMMER CAMP PROGRAMS</h2>
						<div class="first">
							<ul>
								<li class="selected">
									<a href="/conversion/hex_conv">Hex Conversion</a>
								</li>
                                <li class="selected">
									<a href="/conversion/ip_conv">IP Conversion</a>
								</li>
                                <li class="selected">
									<a href="/conversion/date_time_conv">Date Time Conversion</a>
								</li>
							</ul>
						</div>
                        <form action="/conversion/hex_conv" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ forms.as_table}}

                             </table>
                            <input type="submit" value="Convert" id="submit">
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

