{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/conversion/hex_conv">Hex Conversion</a>
								</li>
                                <li class="selected">
									<a href="/conversion/ip_conv">IP Conversion</a>
								</li>
                                <li class="selected">
									<a href="/conversion/date_time_conv">Date Time Conversion</a>
								</li>
							</ul>
						</div>
                        <form action="/conversion/ip_conv" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ ip_form.as_table}}

                             </table>
                            <input type="submit" value="Submit" id="submit">
                        </form>
                        {% if ip_int != '' %}
                            <textarea rows="1" cols="80" maxlength="100">
                            {{ ip_int }}
                            </textarea>
                        {% endif %}
                        <form action="/conversion/ip_conv" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ ip_int_forms.as_table}}

                             </table>
                            <input type="submit" value="Submit" id="submit">
                         </form>
                        {% if ip_val != '' %}
                            <textarea rows="1" cols="80" maxlength="100">
                            {{ ip_val }}
                            </textarea>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

