{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/encoderDecoder/b64Encoding">Base64 Encoder</a>
								</li>
                                <li class="selected">
									<a href="/encoderDecoder/b64Decoding">Base64 Decoder</a>
								</li>
{#                                <li class="selected">#}
{#									<a href="/encoderDecoder/encodingType">Encoding Type Finder</a>#}
{#								</li>#}
{#                                <li class="selected">#}
{#									<a href="/encoder_decoder/StringType">String Type Finder </a>#}
{#								</li>#}
							</ul>
						</div>
						<div>
							{% if form.errors %}
                            <p style="color: red;">
                            Please correct the error{{ form.errors|pluralize }} below.
{#                            #<!-- {{ form.errors }} -->#}
                            </p>
                            {% endif %}
                            <form action="/encoderDecoder/b64Decoding" method="post">
                            {% csrf_token %}
                             <table>
                             {{ form.as_table }}

                             </table>
                            <p><input type="submit" value="Decode" id="submit"></p>
                        </p>
						</form>
                        {% if decoded_str != '' %}
{#                            <textarea rows="6" cols="80" maxlength="5000">#}
                            <textarea style='width: 740px; height: 130px'>{{ decoded_str }}</textarea>

                            </textarea>
                        {% endif %}

                        Base64 is a group of similar binary-to-text encoding schemes that represent binary data in an ASCII string format by translating it into a radix-64 representation. The term Base64 originates from a specific MIME content transfer encoding.

Base64 encoding schemes are commonly used when there is a need to encode binary data that needs to be stored and transferred over media that is designed to deal with textual data. This is to ensure that the data remains intact without modification during transport. Base64 is commonly used in a number of applications, including email via MIME, and storing complex data in XML
					</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

