{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/telecom_util/smsPDU">SMS PDU</a>
								</li>
                                <li class="selected">
									<a href="/telecom_util/pcapUpload">Pcap Upload</a>
								</li>
                                <li class="selected">
									<a href="/telecom_util/pcapDownload">Pcap Download</a>
								</li>
                                <li class="selected">
									<a href="/telecom_util/pcapGeneration">Pcap Generation</a>
								</li>
							</ul>
						</div>
                       <table>
                       <tr>
                           <td>Protocol Name</td><br>
                           <td>File</td><br>
                           <td>Download</td><br>
                       </tr>
                           {% for file in files %}
                           <tr>
                             <td><b> {{ file.title }}</b> </td>
                             <td><b> {{ file.file}}</b> </td>
                             <td><b><a href = "/telecom_util/{{ file.file }}">Download</a></b> </td>

                           </tr>


                        {% endfor %}
                       </table>



					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

