{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">
						<h2>SUMMER CAMP PROGRAMS</h2>
						<div class="first">
							<ul>
								<li class="selected">
									<a href="/telecom_util/smsPDU">SMS PDU</a>
								</li>
                                <li class="selected">
									<a href="/telecom_util/pcapUpload">Pcap Upload</a>
								</li>
                                <li class="selected">
									<a href="/telecom_util/pcapDownload">Pcap Download</a>
								</li>
                                <li class="selected">
									<a href="/telecom_util/pcapGeneration">Pcap Generation</a>
								</li>
							</ul>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

