{% extends 'base.html' %}
{% block body_block %}
     <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/math_util/number_theoretic">Number-theoretic</a>
								</li>
                                <li class="selected">
									<a href="/math_util/pow_log">Power and logarithmic</a>
								</li>
                                <li class="selected">
									<a href="/math_util/trigon_fun">Trigonometric functions</a>
								</li>
                                <li class="selected">
									<a href="/math_util/hyperbolic_fun">Hyperbolic functions</a>
								</li>
                                <li class="selected">
									<a href="/math_util/matrix_fun">Matrices functions</a>
							    </li>

							</ul>
						</div>
                        <h2> This section provides different utilities which helps in easy math calculation</h2>
                        <p>There are various types of math utilities provided in this website.Their description are</p>
                        <p><b>Number-theoretic and representation functions</b> deals with number representation.This site provides different utilities like ceiling, floor, factorial and etc.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

