{% extends 'base.html' %}
{% block body_block %}
     <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">
						<h2>SUMMER CAMP PROGRAMS</h2>
						<div class="first">
							<ul>
								<li class="selected">
									<a href="/math_util/number_theoretic">Number-theoretic</a>
								</li>
                                <li class="selected">
									<a href="/math_util/pow_log">Power and logarithmic</a>
								</li>
                                <li class="selected">
									<a href="/math_util/trigon_fun">Trigonometric functions</a>
								</li>
                                <li class="selected">
									<a href="/math_util/hyperbolic_fun">Hyperbolic functions</a>
								</li>
                                <li class="selected">
									<a href="/math_util/matrix_fun">Matrices functions</a>
							    </li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

