{% extends 'base.html' %}
{% block body_block %}
     <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/math_util/number_theoretic">Number-theoretic</a>
								</li>
                                <li class="selected">
									<a href="/math_util/pow_log">Power and logarithmic</a>
								</li>
                                <li class="selected">
									<a href="/math_util/trigon_fun">Trigonometric functions</a>
								</li>
                                <li class="selected">
									<a href="/math_util/hyperbolic_fun">Hyperbolic functions</a>
								</li>
                                <li class="selected">
									<a href="/math_util/matrix_fun">Matrices functions</a>
							    </li>

							</ul>

						</div>
                        {% for error in errors %}
                        <h4><p style="color: red;"><b>{{ error }}</b></p><h4>
                        {% endfor %}
                         <form action="/math_util/pow_log" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ forms.as_table}}

                             </table>
                            <input type="submit" value="Submit" id="submit">
                         </form>
                        {% if params != '' %}
                            <textarea rows="6" cols="80" maxlength="5000">
                            {{ params }}
                            </textarea>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

