{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">
						<h2>SUMMER CAMP PROGRAMS</h2>
						<div class="first">
							<ul>
								<li class="selected">
									<a href="/audio_video/audio_info">Audio File Information</a>
								</li>
                                <li class="selected">
									<a href="/audio_video/video_info">Video File Information</a>
								</li>
                                <li class="selected">
									<a href="/audio_video/youtube_video_info">YouTube Video Information</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

