{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">

						<div class="first">
							<ul>
								<li class="selected">
									<a href="/audio_video/audio_info">Audio Information</a>
								</li>
                                <li class="selected">
									<a href="/audio_video/video_info">Video Information</a>
								</li>
                                <li class="selected">
									<a href="/audio_video/youtube_video_info">YouTube Video Information</a>
								</li>

							</ul>
						</div>
                         <form action="/audio_video/test" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                              {% for field in form %}

                                <tr>{{ field.errors }} </tr><br>#}
                                <tr>{{ field.label_tag }}</tr><br>
                                <tr> {{ field }} </tr><br>

                            {% endfor %}


                            <tr><input type="submit" value="Submit" id="submit"></tr>
                            </table>
                         </form>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

