{% extends 'base.html' %}
{% block body_block %}
    <div class="body">
		<div>
			<div>
				<div>
					<div class="programs">
						<h2>SUMMER CAMP PROGRAMS</h2>
						<div class="first">
							<ul>
								<li class="selected">
									<a href="/audio_video/audio_info">Audio Information</a>
								</li>
                                <li class="selected">
									<a href="/audio_video/video_info">Video Information</a>
								</li>
                                 <li class="selected">
									<a href="/audio_video/youtube_video_info">YouTube Video Information</a>
								</li>

							</ul>
						</div>
                         <form action="/audio_video/youtube_video_info" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             <table>
                             {{ forms.as_table}}

                             </table>
                            <input type="submit" value="Submit" id="submit">
                         </form>
                        {% if params != '' %}
                            <textarea rows="6" cols="80" maxlength="5000">
                            {{ params }}
                            </textarea>
                        {% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

